.selectionMenu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(118, 118, 136, 0.75);
}

.text {
  position: relative;
  display: flex;
  align-items: center;
}
